<%= link_to "all orders", orders_path, class: "btn btn-info btn-main-menu" %>
<h1>archived orders</h1>
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th class="col-md-2">order for</th>
    <th class="col-md-3">address...</th>
    <th class="col-md-2">postcode</th>
    <th class="col-md-3">including...</th>
    <th class="col-md-2" colspan=2>actions</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><a href="<%= url_for(order) %>"><%= order.name %>             </a></td>
      <td><a href="<%= url_for(order) %>"><%= order.truncated_address %></a></td>
      <td><a href="<%= url_for(order) %>"><%= order.postcode %>         </a></td>
      <td><a href="<%= url_for(order) %>"><%= order.including %>        </a></td>
      <td><form action="<%= order_path(order) %>" method="post">
        <input type="hidden" name="_method" value="patch"/>
        <input type="hidden" name="order[archived]" value="false"/>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
        <input type="submit" value="restore" class="btn btn-primary btn-small"/>
      </form></td>
      <td><form action="<%= order_path(order) %>" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
        <input type="submit" value="delete <%= order.name %>'s order" class="btn btn-danger btn-small"/>
      </form></td>
    </tr>
  <% end %>
</table>
