<%= link_to "orders", "orders", class: "btn btn-info" %>
<hr/>
<h1>stock</h1>
<br/>
<%= link_to "add/remove stock", new_stock_path, class: "btn btn-primary" %>
<%= link_to "new product line", new_product_path, class: "btn btn-info" %>
<br/>
<br/>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th class="col-md-4">name</th>
      <th class="col-md-6">description</th>
      <th class="col-md-2">quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @stock.each do |s| %>
    <tr>
      <td><%= link_to s[:details].name, s[:details]%></td>
      <td><%= link_to s[:details].short_description, s[:details] %></td>
      <td><%= link_to s[:quantity], s[:details] %></td>
    </tr>
    <% end %>
  </tbody>
</table>