<%= link_to "back to stock", "/stocks", class: "btn btn-info btn-main-menu" %>
<h2>new stock update</h2>
<%= simple_form_for @stock do |f| %>
  <%= f.input :product_id, label: "product", collection: @products %>
  <%= f.input :amount, label: "amount", hint: "to reduce stock levels, input a negative number" %>
  <%= f.button :submit, value: "add/remove stock", class: "btn btn-primary" %>
  <%= link_to "cancel", "/stocks", class: "btn btn-info" %>
<% end %>