<%= simple_form_for @order do |f| %>
  <%= f.input :first_name, label: "first name" %>
  <%= f.input :last_name, label: "last name" %>
  <%= f.input :status, label: "status", collection: @order.available_statuses %>

  <fieldset class="form-group">
    <legend>address</legend>
    <div class="indent20">
      <%= f.input :address_line_1, label: "line 1" %>
      <%= f.input :address_line_2, label: "line 2" %>
      <%= f.input :address_line_3, label: "line 3" %>
      <%= f.input :postcode, label: "postcode" %>
    </div>
  </fieldset>
  <%= f.button :submit, value: "update", class: "btn btn-primary" %>
<% end %>
