<%= link_to "stock", "/stocks", class: "btn btn-info btn-main-menu" %>
<% if @archived_orders.length > 0 %>
  <%= link_to "archived orders", archived_orders_path, class: "btn btn-warning" %>
<% end %>
<hr/>
<h1>orders</h1>
<br/>
<%= link_to "create", new_order_path, class: "btn btn-primary" %>
<% @orders.each do |order_group| %>
  <h2><%= order_group[0].status %></h2>
  <table class="table table-striped table-bordered">
    <tr>
      <th class="col-md-2">date</th>
      <th class="col-md-2">order for</th>
      <th class="col-md-2">address...</th>
      <th class="col-md-2">postcode</th>
      <th class="col-md-2">including...</th>
      <th class="col-md-2">actions</th>
    </tr>
    <% order_group.each do |order| %>
      <tr>
        <td><a href="<%= url_for(order) %>"><%= Order.format_time(order.created_at)%></a></td>
        <td><a href="<%= url_for(order) %>"><%= order.name %>             </a></td>
        <td><a href="<%= url_for(order) %>"><%= order.truncated_address %></a></td>
        <td><a href="<%= url_for(order) %>"><%= order.postcode %>         </a></td>
        <td><a href="<%= url_for(order) %>"><%= order.including %>        </a></td>
        <td><form action="<%= order_path(order) %>" method="post">
          <input type="hidden" name="_method" value="patch"/>
          <input type="hidden" name="order[archived]" value="true"/>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
          <input type="submit" value="archive <%= order.name %>'s order" class="btn btn-danger"/>
        </form></td>
      </tr>
    <% end %>
  </table>
<% end %>
