<%= link_to "create", new_order_path, class: "btn btn-primary" %>
<% @orders.each do |order_group| %>
  <h2><%= order_group[0].status %></h2>
  <table class="table table-striped table-hover table-bordered">
    <tr>
      <th class="col-md-2">order for</th>
      <th class="col-md-4">address...</th>
      <th class="col-md-2">postcode</th>
      <th class="col-md-4">including...</th>
    </tr>
    <% order_group.each do |order| %>
      <tr>
        <td><a href="<%= url_for(order) %>"><%= order.name %>             </a></td>
        <td><a href="<%= url_for(order) %>"><%= order.truncated_address %></a></td>
        <td><a href="<%= url_for(order) %>"><%= order.postcode %>         </a></td>
        <td><a href="<%= url_for(order) %>"><%= order.including %>        </a></td>
      </tr>
    <% end %>
  </table>
<% end %>
