<h2>order for: <%= @order.name %></h2>
<div>
  <h3><%= @order.status %></h3>
  <h3>address:</h3>
  <p class="indent20">
    <%= @order.address_line_1 %><br/>
    <%= @order.address_line_2 %><br/>
    <%= @order.address_line_3 %>
    <%= @order.postcode %>
  </p>
</div>
<div>
  <%= link_to "edit order", edit_order_path(@order) %>
  <%= link_to "add product", new_order_line_path(@order) %>
</div>
<table>
  <thead>
    <tr>
      <th>product name</th>
      <th>quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @order.lines.each do |line| %>
    <tr>
      <td><%= line.product.name %></td>
      <td><%= line.quantity %></td>
      <td>
        <form action="<%= order_line_path(@order, line) %>" method="delete" if-match="*">
          <input type="submit" value="delete" method="delete"/>
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
