<%= link_to "all orders", orders_path, class: "btn btn-info btn-main-menu" %>
<h1>order for: <%= @order.name %></h1>
<div>
  <h3><%= @order.status %></h3>
  <h3>address:</h3>
  <p class="indent20">
    <%= @order.address_line_1 %><br/>
    <%= @order.address_line_2 %><br/>
    <%= @order.address_line_3 %>
    <%= @order.postcode %>
  </p>
</div>
<hr/>
<div>
  <%= link_to "edit order", edit_order_path(@order), class: "btn btn-info" %>
  <%= link_to "add product", new_order_line_path(@order), class: "btn btn-success" %>
  <% if @order.archived_lines.length > 0 %>
    <%= link_to "show archived", order_archived_lines_path(@order), class: "btn btn-warning" %>
  <% end %>
</div>
<hr/>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-md-4">product name</th>
      <th class="col-md-2">quantity</th>
      <th class="col-md-2">price</th>
      <th class="col-md-4" colspan="2">actions</th>
    </tr>
  </thead>
  <tbody>
    <% @order.unarchived_lines.each do |line| %>
    <tr>
      <td><%= line.product.name %></td>
      <td><%= line.quantity %></td>
      <td><%= line.formatted_price %></td>
      <td><%= link_to "edit", edit_order_line_path(@order, line), class: "btn btn-info btn-small" %></td>
      <td>
        <form action="<%= order_line_path(@order, line) %>" method="post">
          <input type="hidden" name="_method" value="patch"/>
          <input type="hidden" name="line[archived]" value="true"/>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
          <input type="submit" value="archive <%= line.name %>" class="btn btn-danger btn-small"/>
        </form>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2"></td>
      <td><%= @order.total_price %></td>
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>
